body {
    font-family: 'Constantia', Arial, Helvetica, sans-serif;
    margin: 0;
    color: #333;
}

.container {
    display: flex; 
}

.sidebar {
    width: 250px;
    background-color: #87CEFA; /* Maya Blue */ 
    color: white;
    padding: 20px;
    position: fixed;
    height: 100vh;
}

.sidebar li:hover {
    background-color: #3A80E5; /* Blue De France */
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar li {
    padding: 10px 0;
    cursor: pointer;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.sidebar .active {
    background-color: #3A80E5; /* Blue De France */
}

.content {
    flex-grow: 1; 
    margin-left: 250px; /* Adjust for sidebar width */
    padding-left: 50px; /* Add padding to the right, slightly more than sidebar width */
}


header {
    background-color: #FF5E5E; /* Orange Red Crayola */
    color: white;
    padding: 20px;
    text-align: center;
    margin-bottom: 30px;
}

h1 {
    font-size: 2.5em;
}

h2 {
    color: #881540; /* Claret */
}

section {
    margin-bottom: 40px;
}

.contact-info p {
    margin: 5px 0; 
}

.summary {
    background-color: #F9BC2F; /* Orange Yellow */
    padding: 20px;
    border-radius: 5px;
}

.education li {
    border-left: 5px solid #ACD66A; /* Granny Smith Apple */
    padding-left: 15px;
}

.experience li {
    border-left: 5px solid #3A80E5; /* Bleu De France */
    padding-left: 15px;
}

footer {
    text-align: center;
    color: #881540; /* Claret */
    margin-left: 250px; /* Adjust for sidebar width */
}
/* Flexbox for centering content */
.summary, .education, .experience, .skillss {
    display: flex;
    flex-direction: column; /* Align items vertically */
    align-items: center; /* Center horizontally */
}

/* Skills section */
.skills ul {
    list-style-type: none;
    padding: 0;
    columns: 2;
    column-gap: 40px;
}

.skills ul li {
    background-color: #15ABAB;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.skills ul li:hover {
    background-color: #004b8d;
    color: #ffffff;
    cursor: pointer;
}

.skills ul li:nth-child(odd) {
    background-color: #cce0ff;
}